# The directory Mix will write compiled artifacts to.
/_build/

# If you run "mix test --cover", coverage assets end up here.
/cover/

# The directory Mix downloads your dependencies sources to.
/deps/

# Where third-party dependencies like ExDoc output generated docs.
/doc/

# Ignore .fetch files in case you like to edit your project deps locally.
/.fetch

# If the VM crashes, it generates a dump, let's ignore it too.
erl_crash.dump

# Also ignore archive artifacts (built via "mix archive.build").
*.ez

# Ignore package tarball (built via "mix hex.build").
matcha-*.tar

# Ignore elixir_ls's cache directory
.elixir_ls/

# Don't dictate to asdf which versions of elixir/otp to use
.tool-versions

# Dialyzer PLT caches
/priv/**/*.plt
/priv/**/*.plt.hash